</div>

<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>


<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<!-- Modal-Effect -->
<script src="/assets/plugins/custombox/dist/custombox.min.js"></script>
<script src="/assets/plugins/custombox/dist/legacy.min.js"></script>

<!--clipboard-->
<script src="/assets/js/clipboard.min.js"></script>

<!--plupload-->
<!--<script src="/assets/js/plupload.full.min.js"></script>-->
<script src="https://cdn.bootcss.com/plupload/2.1.8/plupload.full.min.js"></script>

<!--qiniu-->
<!--<script src="/assets/js/qiniu.min.js"></script>-->
<script src="https://cdn.bootcss.com/qiniu-js/1.0.17.1/qiniu.min.js"></script>

</body>
</html>