<div class="left side-menu">
    <div class="slimScrollDiv" style="position: relative; overflow: inherit; width: auto; height: 1032px;"><div class="sidebar-inner slimscrollleft" style="overflow: inherit; width: auto; height: 1032px;">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>

                    <li class="text-muted menu-title">导航</li>

                    <li class="has_sub">
                        <a href="#" class="waves-effect"><i class="ti-home"></i> <span> Dashboard </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="index.html">Dashboard 1</a></li>
                            <li><a href="dashboard_2.html">Dashboard 2</a></li>
                            <li><a href="dashboard_3.html">Dashboard 3</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="#" class="waves-effect"><i class="ti-user"></i> <span> 用户管理 </span> </a>
                    </li>




                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div><div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 865px; visibility: hidden;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>