<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">类型</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <% cats.forEach(function(cat){ %>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><%= cat.name %> <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <% cat.children.forEach(function(subcat){ %>

                        <li><a href="#"><%= subcat.name%></a></li>

                        <% }) %>
                    </ul>


                </li>

                <% }) %>

            </ul>
        </div>
    </div>
</nav>