<%- include('global/xheader') %>

<style>
    .process {
        /*padding-left: 10px;*/
    }

    .processing {
        color: #ff9389;
    }

    .processDone {
        color: #5fbf8f;
    }
</style>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">替换模型</h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">模型管理</a>
                        </li>
                        <li class="active">
                            替换模型
                        </li>
                    </ol>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" class="form-horizontal" role="form">
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-md-2 control-label">模型名称</label>-->
                                        <!--<div class="col-md-10">-->
                                            <!--<input type="text" class="form-control" name="name">-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-md-2 control-label">模型介绍</label>-->
                                        <!--<div class="col-md-10">-->
                                            <!--<textarea class="form-control" rows="5" name="intro"></textarea>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <input style="display: none;" id="model" name="model">
                                    <input style="display: none;" id="snap" name="snap">
                                    <input style="display: none;"  name="modelId" value="<%= modelId %>">

                                    <button type="submit" id="realSubmit" class="btn btn-success"
                                            style="display: none;">确认添加
                                    </button>
                                </form>

                                <div class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-md-2 control-label">上传模型文件<span
                                                class="modelP processing process"></span></label>
                                    <div class="col-md-10">
                                        <button id="qiniu" class="btn btn-success">上传</button>
                                        <span id="qiniu-upload-progress"></span>
                                        <span id="qiniu-upload-success" style="display: none;color: green"><i class="ti-check"></i></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-2 control-label">模型截图<span
                                                class="modelS processing process"></span></label>
                                    <div class="col-md-10">
                                        <input id="upload-input-snap" type="file" class="form-control"
                                               name="uploads[]"></br>
                                    </div>
                                </div>

                                </div>
                                <div class="form-group">
                                    <div class="pull-right">
                                        <button id="fakeSubmit" type="button" class="btn btn-default btn-rounded waves-effect waves-light">上传</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer">
        2016  ©  维阿科技
    </footer>

</div>
<input id='catsData' style="display: none;" value="<%= JSON.stringify({cats: cats}) %>">
<script>

    $(function () {

//        $('#cat>option').eq(1).click()
//
//        $('#subcat>option').eq(1).click()

//        var catsData = JSON.parse($('#catsData').val())
//
//        $('#cat').on('change', function() {
//            var v = $(this).val()
//
//            catsData.cats.forEach(function(obj) {
//                if(obj._id == v) {
//
//                    var arr = obj.subcats.map(function(o) {
//                        return '<option value="' + o._id + '">' + o.name + '</option>';
//                    })
//                    $('#subcat').html(arr.join(''))
//                }
//            })
//        })



        $('#fakeSubmit').click(function() {

            $('#realSubmit').click()

        })

        $('#upload-input-snap').on('change', function () {

            var files = $(this).get(0).files;

            if (files.length > 0) {

                var formData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // add the files to formData object for the data payload
                    formData.append('uploads[]', file, file.name);
                }

                $.ajax({
                    url: '/upload/img',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#snap').val(data.file)
                        console.log('upload successful!');
                    },
                    xhr: function () {
                        // create an XMLHttpRequest
                        var xhr = new XMLHttpRequest();

                        // listen to the 'progress' event
                        xhr.upload.addEventListener('progress', function (evt) {

                            if (evt.lengthComputable) {
                                // calculate the percentage of upload completed
                                var percentComplete = evt.loaded / evt.total;
                                percentComplete = parseInt(percentComplete * 100);

                                // update the Bootstrap progress bar with the new percentage
                                $('.modelS').html('进度 : ' + percentComplete + '%');

                                // once the upload reaches 100%, set the progress bar text to done
                                if (percentComplete === 100) {
                                    $('.modelS').removeClass('processing').addClass('processDone')
                                    $('.modelS').html('上传完成');
                                }

                            }

                        }, false);

                        return xhr;
                    }
                });
            }

        });

        var uploader = Qiniu.uploader({
            runtimes: 'html5,flash,html4',
            browse_button: 'qiniu',
//            container: 'qiniu-container',
//            drop_element: 'container',
            max_file_size: '1000mb',
            flash_swf_url: 'js/plupload/Moxie.swf',
            dragdrop: true,
            chunk_size: '4mb',
//            uptoken:'um6IEH7mtwnwkGpjImD08JdxlvViuELhI4mFfoeL:79ApUIePTtKIdVGDHJ9D9BfBnhE=:eyJzY29wZSI6ImphdmFkZW1vIiwiZGVhZGxpbmUiOjE0NTk4ODMyMzV9Cg==',
            uptoken_url: '/qiniu/token',  //当然建议这种通过url的方式获取token
            domain: 'http://oaq9t2661.bkt.clouddn.com',
//            unique_names: true,
//            save_key: true,
            auto_start: true,
            init: {
                'FilesAdded': function(up, files) {
//                    $('table').show();
//                    $('#success').hide();
//                    plupload.each(files, function(file) {
//                        var progress = new FileProgress(file, 'fsUploadProgress');
//                        progress.setStatus("等待...");
//                    });
                },
                'BeforeUpload': function(up, file) {
//                    var progress = new FileProgress(file, 'fsUploadProgress');
//                    var chunk_size = plupload.parseSize(this.getOption('chunk_size'));
//                    if (up.runtime === 'html5' && chunk_size) {
//                        progress.setChunkProgess(chunk_size);
//                    }
                },
                'UploadProgress': function(up, file) {
//                    var progress = new FileProgress(file, 'fsUploadProgress');
//                    var chunk_size = plupload.parseSize(this.getOption('chunk_size'));
//
//                    progress.setProgress(file.percent + "%", file.speed, chunk_size);

                    var percent = file.percent, progress = $('#qiniu-upload-progress');

                    progress.text(percent+'%');

                    if(percent == 100) {
                        $('#qiniu-upload-success').css('display', 'inline')
                    }

                },
                'UploadComplete': function() {
//                    $('#success').show();
                },
                'FileUploaded': function(up, file, info) {
//                    var progress = new FileProgress(file, 'fsUploadProgress');
//                    progress.setComplete(up, info);
                },
                'Error': function(up, err, errTip) {
//                    $('table').show();
//                    var progress = new FileProgress(err.file, 'fsUploadProgress');
//                    progress.setError();
//                    progress.setStatus(errTip);
                },
                'Key': function (up, file) {

                    var filename = file.id + '.che'

                    $('#model').val('http://oaq9t2661.bkt.clouddn.com/'+filename)

                    return filename
                }
            }
        });

    })


</script>

<%- include('global/xfooter') %>