<li>
    <a href="/3d/tv2/<%= model._id %>">
        <i class="fa fa-tv icon-bordered icon-info icon-xs"></i>
    </a>
</li>
<li>
    <a href="/3d/control/<%= model._id %>">
        <i class="fa fa-cube icon-bordered icon-orange icon-xs"></i>
    </a>
</li>
