<div class="p-20" style="height: 448px;overflow-y: auto">
    <table class="table m-0">

        <thead>
        <tr>
            <th>#</th>
            <th>属性</th>
            <th>数据</th>
        </tr>
        </thead>
        <tbody id="component-details">

        </tbody>
    </table>
</div>
