<div class="card-box m-t-20">
    <div class="p-20">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs tabs" style="width: 100%;">
                    <li class="active tab" style="width: 25%;">
                        <a href="#attachments" data-toggle="tab" aria-expanded="false" class="active">
                            <span class="visible-xs"><i class="fa fa-home"></i></span>
                            <span class="hidden-xs">附件</span>
                        </a>
                    </li>
                    <li class="tab" style="width: 25%;">
                        <a href="#views" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs"><i class="fa fa-user"></i></span>
                            <span class="hidden-xs">视点</span>
                        </a>
                    </li>
                    <div class="indicator" style="right: 548px; left: 0px;"></div></ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="attachments">
                        <%- include('./attach.ejs')%>
                    </div>
                    <div class="tab-pane" id="views" style="display: none;">
                        <%- include('./views.ejs')%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>