<div class="card-box m-t-20">
    <div class="p-20">
        <div class="table-responsive">
            <table class="table table-actions-bar">
                <thead>
                <tr>
                    <th>截图</th>
                    <th>名称</th>
                    <th style="min-width: 80px;">操作</th>
                </tr>
                </thead>

                <tbody id="attachment-tbody">

                <% views.forEach(function(view){ %>

                <tr>
                    <td><img src="/img/<%= view.img %>" class="thumb-sm" alt=""></td>
                    <td><%= view.name %></td>
                    <td>
                        <a href="#" data-id="<%= view._id %>" class="table-action-btn modifyView"><i
                                    class="md md-edit"></i></a>
                        <a href="#" data-id="<%= view._id %>" data-type="view" class="table-action-btn deleteBtn"><i
                                    class="md md-close"></i></a>
                    </td>
                </tr>
                <tr>

                    <% }) %>

            </table>


        </div>
    </div>
</div>